body {
    font: 16px arial;
    margin: 0;
    padding: 0;
    background: #d1d1d1;
}

#cards {
    gap:30px;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 825.98px) {
    #cards {
        gap:30px;
        grid-template-columns: repeat(1,1fr)
    }
}

.card-container {
    border-radius: 16px;
    max-height: 436px;
    overflow: hidden;
    position: relative;
    width: max-content;
    margin: auto;
}

.card-container .image {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.card-container:hover .image {
    transform: scale(1);
}

.card-container .overlay {
    position: absolute;
    bottom: 0;
    left: 0%;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 1;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#main-content {
    padding: 25px;
    min-height: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
#main-content h2 {
    margin: 0 0 10px;
    text-transform: capitalize;
}
/* 
#main-content table {
    width: 100%;
    background-color: #555;
    margin: 0 0 20px;
}

#main-content table th {
    color: #fff;
    background-color: #333;
    text-transform: uppercase;
}
#main-content table th:last-child {
    width: 130px;
}
#main-content table td {
    background-color: #fff;
}
#main-content table td a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px;
    color: #fff;
    background-color: #e67e22;
    text-decoration: none;
    border-radius: 3px;
}
#main-content table td a:nth-child(2),
#main-content table td button {
    background-color: #e74c3c;
    margin: 0 0 0 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 3px 7px;
    color: #fff;
    border: none;
    padding: 3px 7px;
    border-radius: 3px;
    width: auto;
}

#main-content .post-form {
    width: 50%;
    min-width: 500px;
    padding: 25px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 10px;
}

#main-content .post-form .form-group {
    margin: 0 0 15px;
}

#main-content .post-form .form-group label {
    width: 30%;
    display: inline-block;
    font-weight: 600;
}
#main-content .post-form .form-group input,
#main-content .post-form .form-group select {
    font-size: 16px;
    width: 66%;
    display: inline-block;
    padding: 5px;
    margin: 0;
}
#main-content .post-form .form-group select {
    width: 69%;
    text-transform: capitalize;
}

#main-content .post-form .submit {
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin: 0 0 0 30%;
    cursor: pointer;
    transition: all 0.3s;
}

#main-content .post-form .submit:hover {
    box-shadow: 0 0 5px #555;
}

#main-content .pagination {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-content .pagination li {
    display: inline-block;
}

#main-content .pagination li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #1abc9c;
    display: block;
    margin: 0 5px 0 0;
    transition: all 0.3s;
}

#main-content .pagination li a:hover {
    background-color: #333;
}

.form-group .error {
    width: 68%;
    margin-left: auto;
    display: block;
    padding: 5px 0px 10px;
}

.success-message {
    color: green;
    text-align: center;
    margin-bottom: 30px;
} */
